[submodule "dependencies/tracy"]
	path = dependencies/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "dependencies/raygui"]
	path = dependencies/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "dependencies/cimgui"]
	path = dependencies/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "dependencies/rlImGui"]
	path = dependencies/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
